SERVER_HOST=localhost:7172

## Database
DB_MYSQL_HOST=localhost
DB_MYSQL_PORT=3306
DB_MYSQL_USERNAME=usr_rw
DB_MYSQL_PASSWORD=usrpw
DB_MYSQL_DATABASE=learning
DB_MYSQL_QUERY_STRING=parseTime=true&loc=Asia%2FJakarta

## Cache
CACHE_REDIS_HOST=localhost:6379
CACHE_REDIS_DB=0
CACHE_REDIS_PASSWORD=